.header {
    font-family: Open Sans !important;
    background-color: #33414f;
    color: white;
    height: 64px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px 0 25px;
}

.header-links {
    display: flex;
}

.links-list {
    display: flex;
    list-style-type: none;
}

.links-list li {
    padding: 10px 0;
    margin: 13px;
    font-size: 18px;
    cursor: pointer;
    position: relative;
}

.links-list li:hover .link-description {
    display: flex;
}

.link-description {
    display: none;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    position: absolute;
    z-index: 1000;
    color: #000;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    margin-top: 1px;
    width: 320px;
    max-height: 186px;
    padding: 10px;
    top: 40px;
    right: -110px;
}

.link-description::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 45%
}

.amigo-desc {
    right: -150px;
    max-height: 250px;
}

.zms-desc {
    right: -165px;
}

.logo {
    display: block;
    background-size: 120px;
    background-repeat: no-repeat;
    width: 120px;
    height: 30px;
}

.subs-logo {
    background-image: url(https://www.zoomcar.com/build/img/logo-black.9c208791d55bfaea62d47b83808864f0.svg);
}

.amigo-logo {
    background-image: url(https://www.zoomcar.com/build/img/amigo.c1664f245e6ed332c9539f34bfacc354.png);
    height: 40px;
}

.zms-logo {
    background-image: url(https://www.zoomcar.com/build/img/zms-logo.41d8120a7de991190abc45779aad5d82.png);
}

.link-description p {
    margin: 1em 0;
    color: #33414f;
    font-size: 12px;
    text-align: center;
    font-weight: 600;
}

.description-button {
    width: 105px;
    border-radius: 4px;
    background-color: #78b442;
    font-size: 12px;
    padding: 5px;
    margin: 10px 0;
    color: #fff;
    text-align: center;
    font-weight: 600;
}

.links-list li:hover .app-link {
    display: block;
}

.app-link {
    display: none;
    position: absolute;
    z-index: 1000;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 50%);
    font-size: 18px;
    cursor: pointer;
    width: 190px;
    top: 40px;
    left: -40px;
}

.app-link::before {
    content: "";
    position: absolute;
    border-bottom: 5px solid white;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    top: -5px;
    left: 45%
}

.app-link a {
    text-decoration: none;
    display: flex;
    padding: 10px;
    margin: 0;
}

.app-link a:first-child {
    border-bottom: 1px solid #cecece;
}

.app-link span {
    color: #808285;
    font-size: 17px;
    margin: 0 5px 0 50px;
}

.app-logo {
    text-decoration: none;
    background-repeat: no-repeat;
    background-position: 25px 10px;
}

.google-play {
    background-image: url(https://www.zoomcar.com/build/img/play-store.82a3d4a21018a81138e2b3e12e6e19c2.svg);
}

.app-store {
    background-image: url(https://www.zoomcar.com/build/img/apple_store.cbda066c1940c0e1fefcd7be736a24f1.svg);
}

.user-panel-list {
    display: flex;
    list-style-type: none;
}

.user-panel-list li {
    padding: 10px 0;
    margin: 13px;
    font-size: 18px;
    cursor: pointer;
}