.App {
  text-align: center;
}

.header {
  font-family: Open Sans !important;
  background-color: #33414f;
  color: white;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 15px 0 25px;
}

.header-links {
  display: flex;
}

.links-list {
  display: flex;
  list-style-type: none;
}

.links-list li {
  padding: 10px 0;
  margin: 13px;
  font-size: 18px;
  cursor: pointer;
}

.user-panel-list {
  display: flex;
  list-style-type: none;
}

.user-panel-list li {
  padding: 10px 0;
  margin: 13px;
  font-size: 18px;
  cursor: pointer;
}